<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Contacts</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Bootstrap CSS-->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="/script/script.js"></script>
<script
	src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"
	referrerpolicy="origin"></script>
<script>
		function modalDataSetting(cid,username)
		{
			$("#editContactForm").attr("action","/user/"+username+"/editcontacts/"+cid);
			$("#fullname").val($("#fullname"+cid).text());
			$("#nickname").val($("#nickname"+cid).text());
			$("#email").val($("#email"+cid).text());
			$("#mobile").val($("#mobile"+cid).text());
			$("#description").val($("#description"+cid).text());
			if($("#image"+cid).text()==='default.jpg'){
				$("#contactdisplaypic").attr("src","/image/default.png");
			}else{
				$("#contactdisplaypic").attr("src","/uploads/"+$("#image"+cid).text());
			}
			
		}
</script>
<style>
body {
	background: rgb(244, 222, 222);
	background: linear-gradient(300deg, rgba(244, 222, 222, 1) 50%,
		rgba(255, 193, 7, 1) 100%);
}

#active3 {
	background-color: #FFC107;
	color: white;
}
</style>
</head>
<body onload="removeMessageBox()">
	<div th:replace="fragments.html::navbar"></div>
	<div class="content">
		<div class="container-fluid" style="padding: 50px;">
			<div class="card">
				<div class="card-header bg-warning">
					<div>
						<h4 class="text-center">ALL CONTACTS</h4>
					</div>
				</div>
				<div class="card-body">
					<div id="message" th:if="${session.message!=null}"
						th:classappend="${session.message.getType()}"
						class="alert text-center">
						<strong th:text="${session.message.getBody()}"></strong>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
					<div style="min-height: 350px;">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Image</th>
									<th scope="col">Contact ID</th>
									<th scope="col">Fullname</th>
									<th scope="col">Nickname</th>
									<th scope="col">Email</th>
									<th scope="col">Mobile</th>
									<th scope="col">Contact Description</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="contact:${allcontacts}">
									<td>
										<div th:if="${contact.getImage().equals('default.jpg')}">
											<img alt="default picture" th:src="@{/image/default.png}"
												height="50" width="50">
											<p th:id="${'image'+contact.getCid()}"
												th:text="${contact.getImage()}" hidden></p>
										</div>

										<div th:unless="${contact.getImage().equals('default.jpg')}">
											<img alt="contact picture"
												th:src="@{'/uploads/'+${contact.getImage()}}" height="50"
												width="50">
											<p th:id="${'image'+contact.getCid()}"
												th:text="${contact.getImage()}" hidden></p>
										</div>
									</td>
									<th th:id="${contact.getCid()}"
										th:text="${'CM'+contact.getCid()}"></th>
									<td th:id="${'fullname'+contact.getCid()}"
										th:text="${contact.getFullname()}"></td>
									<td th:id="${'nickname'+contact.getCid()}"
										th:text="${contact.getNickname()}"></td>
									<td th:id="${'email'+contact.getCid()}"
										th:text="${contact.getEmail()}"></td>
									<td th:id="${'mobile'+contact.getCid()}"
										th:text="${contact.getMobile()}"></td>
									<td th:id="${'description'+contact.getCid()}"
										th:utext="${contact.getDescription()}"></td>
									<td><a class="btn btn-sm btn-danger text-white"
										th:href="@{'/user/' + ${session.loggedInUser.getUsername()} + '/deletecontacts/'+${contact.getCid()}}">Delete</a>
										<button class="btn btn-sm btn-success text-white"
											th:attr="onclick=|modalDataSetting('${contact.getCid()}','${session.loggedInUser.getUsername()}')|"
											data-toggle="modal" data-target="#exampleModal">Edit</button></td>
								</tr>
							</tbody>
						</table>

					</div>
					<!-- Pagination Code Starts -->
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li th:if="${currentpage != 1}" class="page-item"><a
								class="page-link"
								th:href="@{'/user/'+${session.loggedInUser.getUsername()}+'/contacts/'+${currentpage-1}}">Previous</a></li>
							<li th:classappend="${currentpage==i}?'active':''"
								th:each="i : ${#numbers.sequence(1, totalpages)}"
								th:if="${i !=0 }" class="page-item"><a class="page-link"
								th:href="@{'/user/'+${session.loggedInUser.getUsername()}+'/contacts/'+${i}}"
								th:text="${i}"></a></li>

							<li th:if="${currentpage < totalpages}" class="page-item"><a
								class="page-link"
								th:href="@{'/user/'+${session.loggedInUser.getUsername()}+'/contacts/'+${currentpage+1}}">Next</a></li>
						</ul>
					</nav>
					<!-- Modal code starts here -->
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Edit
										Contact</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="text-center">
										<img alt="default picture" height="150" width="150"
											style="border-radius: 15px; margin: 5px;"
											id="contactdisplaypic">
									</div>



									<form id="editContactForm" method="post"
										enctype="multipart/form-data">
										<div class="form-group">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<i class="fa fa-user-circle" aria-hidden="true"></i>
													</div>
												</div>
												<input type="text" class="form-control" id="fullname"
													name="fullname" placeholder="Fullname" required>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<i class="fa fa-eye" aria-hidden="true"></i>

													</div>
												</div>
												<input type="text" class="form-control" id="nickname"
													name="nickname" placeholder="Nickname" required>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<i class="fa fa-envelope-o" aria-hidden="true"></i>
													</div>
												</div>
												<input type="text" class="form-control" id="email"
													name="email" placeholder="Email" required>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<i class="fa fa-phone" aria-hidden="true">&nbsp</i>
													</div>
												</div>
												<input type="text" class="form-control" id="mobile"
													name="mobile" placeholder="Mobile" required>
											</div>
										</div>
										<div class="form-group">
											<textarea class="form-control" id="description"
												name="description" placeholder="Enter Contact Description"></textarea>
										</div>
										<div class="form-group">
											<div class="input-group mb-2">
												<input type="file" class="form-control" id="image"
													name="formimage" placeholder="Enter Contact Image">
											</div>
										</div>

										<button type="submit" class="btn btn-sm btn-warning">Update</button>
									</form>
								</div>
							</div>
						</div>
					</div>


				</div>


			</div>

			<!--Search functionality Start  -->
			<div class="row" style="margin-top: 10px;">
				<div class="col-md-6 offset-3">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">@</span>
						</div>
						<input type="text" class="form-control"
							placeholder="Search Contact Here" aria-label="Username"
							aria-describedby="basic-addon1" id="searchcontact"
							th:onkeyup="|search()|">

					</div>
					<input type="text" id="loggedinusernameforsearch"
						th:value="${session.loggedInUser.getUsername()}" hidden> <input
						type="text" id="loggedinuseridforsearch"
						th:value="${session.loggedInUser.getUid()}" hidden>
						<div id="searchresult">
						</div>
				</div>

			</div>
		</div>
	</div>


	<script>
	
	function search() {
	
	if($("#searchcontact").val()!="")
	{
		$("#searchresult").show();
			let url="/api/user/"+$("#loggedinusernameforsearch").val()+"/contacts/"+$("#loggedinuseridforsearch").val()+"/"+$("#searchcontact").val()	
	fetch(url).then((response)=>{
	
		return response.json();
		
	}).then((data)=>{
	
		let resulthtml= `<div class="list-group">`;
		data.forEach((contact)=>{
		resulthtml += `<button class='list-group-item list-group-action'>${contact.fullname}</button>`;
		
		});
		
		resulthtml += '</div>';
		
		$("#searchresult").html(resulthtml);
	});	
	
	}else{
		$("#searchresult").hide();
	}
		
	}
	</script>


	<!--Bootstrap JavaScript Bundle with Popper -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>
</body>
</html>