<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>DEVELOPER DETAILS</h2>
    <p th:text="'Developer Name: ' + ${developerName}"></p>
    <p th:text="'Developer Salary: ' + ${developerSalary}"></p>
    <p th:text="'Developer Favourite Foods: ' + ${developerFavouriteFoods}"></p>
    <p th:text="'Developer Mobiles: ' + ${developerMobiles}"></p>
    <p th:text="'Developer Skills: ' + ${developerSkills}"></p>
    <p th:text="'Developer Is Married: ' + ${developerIsMarried}"></p>
    <p th:text="'Developer Country: ' + ${developerCountry}"></p>
</body>
</html>